# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: sudo apt-get install libreadline6 libreadline6-dev
  displayName: 'Install libreadline6'
  
- script: sudo apt-get install luarocks
  displayName: 'Install luarocks'
  
- task: UsePythonVersion@0
  inputs:
    versionSpec: '2.7'
    architecture: 'x64'
      
- script: |
    python -m pip install --upgrade pip
    pip install hererocks
    hererocks lua_install -l5.3 -rlatest
    sudo luarocks install busted
  displayName: 'Install dependencies'
  
- script: busted --verbose
  displayName: 'Run tests'
